header {
  padding: 12px 15px;
  border-bottom: 1px solid hsl(47, 65%, 84%);
  font-size: 13px;
  font-weight: 700;
}

ul {
  padding: 12px 15px;
  background-color: #faf5e6;
}

li {
  margin: 12px 0;
  font-size: 13px;
  list-style: inside;
}
/*  */
